mixin sort()
  .d-flex.align-items-center
    select.form-control.me-2(name="sort", sort-select)
      option(value="position-desc") Vị trí giảm dần 
      option(value="position-asc") Vị trí tăng dần 
      option(value="price-desc") Giá giảm dần
      option(value="price-asc") Giá tăng dần
      option(value="title-asc") Tiêu đề A - Z
      option(value="title-desc") Tiêu đề Z - A
    button.btn.btn-danger.btn-sm.text-nowrap(type="button", sort-clear) Sắp xếp