//- header.pug
header.admin-header.navbar.navbar-light.bg-light
  .container-fluid
    .navbar-brand
      img(src="/images/avatar.png" alt="Admin Logo" class="logo-img me-2")
      | Admin Panel
    ul.nav
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/my-account`)
          i.fas.fa-user-circle.me-2
          | #{user.fullName}
      li.nav-item
        a.nav-link.text-danger(href=`${prefixAdmin}/auth/logout`)
          i.fas.fa-sign-out-alt.me-2
          | Đăng xuất
